// Flatly 5.3.2
// Bootswatch

//$theme: "flatly" !default;

/*-- scss:defaults --*/

//@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/brusher');

// Color system

$white:    #fff    !default;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000    !default;

$blue:    #2c3e50 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;
$green:   #18bc9c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;

$primary:       $blue     !default;
$secondary:     $gray-600 !default;
$success:       $green    !default;
$info:          $cyan     !default;
$warning:       $yellow   !default;
$danger:        $red      !default;
$light:         $gray-200 !default;
$dark:          $gray-700 !default;

// Utilisation des variables SASS de Quarto
// Si pas de changement: fermer Rstudio et réouvrir le projet

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;  
$toc-color:              $pink;
$link-color:             $pink;
$code-block-border-left: $purple;
$code-block-border-left-size: 1px;
$code-color:             $purple;
