/* css styles */

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
}


/*navbar*/
.navbar {
  padding: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.1em;
  color: white;
  border-radius: 25px;
}

.nav-item {
  margin-right: 0;
  margin-left: 0px;  
}

.navbar-container {
  width: 90%;
  padding-bottom: 5px;
  padding-top: 5px; 
}

#quarto-header {
  border-bottom:   5px solid white;
  border-top:      5px solid white;
  border-left:    10px solid white;
  border-right:   10px solid white;
  
}

.navbar-title {
font-size: 0.90em;  
}


/*grid*/
.quarto-grid-item .listing-categories .listing-category {
 color:#e83e8c;
 border:solid 1px #dee2e6;
 border-radius:.25rem;
 text-transform:uppercase;
 font-size:.60em;
 padding-left:.5em;
 padding-right:.5em;
 padding-top:.15em;
 padding-bottom:.15em;
 cursor:pointer;
 margin-right:4px;
 margin-bottom:4px
}

.quarto-categories .quarto-category {
 color:#2c3e50;
 font-weight: 500;
 padding:.25em .75em;
 font-size:.65em;
 text-transform:uppercase;
 border:solid 1px;
 border-radius:.25rem;
 opacity:.6
}
